* {
    margin: 0;
    padding: 0;
    background-color: #27241D;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#loading-bar {
    width: 100%;
    text-align: top;
    height: 10px;
    background:
        linear-gradient(to right,
            #404077,
            #7f487f,
            #d04c77,
            #f27548,
            #f2af13);
}

#name {
    margin: 30px;
    font-size: 25px;
}

#blog {
    text-align: center;
    margin: 70px;
    font-size: 50px;
}

#blog-link {
    color: #7f487f;
}

#blog-link:hover {
    color: #f2af13;
}

#resume-block {
    width: 300px;
    height: 300px;
    border: 1px solid #404077;
    border-radius: 5px;
    margin: 50px;
    padding: 20px;
    float: right;
}

#resume-block:hover {
    border: 1px solid #7f487f;
    border-radius: 5px;
}

#resume-link * {
    background-color: #36332a;
}

.resume {
    text-align: center;
    margin: 10px;
}